
    <div class="min-h-screen bg-emerald-50 flex flex-col items-center justify-center space-y-8">
   
    {{#if user}}
        <div class="text-center">
            <h1 class="text-2xl font-bold text-gray-800">Bem-vindo, {{user.email}}!</h1>
            <a href="/logout"
                class="text-sm text-gray-600 hover:text-purple-500 transition duration-200">Sair</a>
        </div>
    {{else}}
        <div class="text-center">
            <h1 class="text-2xl font-bold text-red-600">Você não está logado!</h1>
            <a href="/login"
                class="text-sm text-gray-600 hover:text-purple-500 transition duration-200">Faça login</a>
        </div>
    {{/if}}


    <div class="space-y-4 w-full max-w-xs">
        <a href="/agendamento">
            <button
                class="w-full py-3 px-4 bg-purple-500 text-white font-bold rounded-lg hover:bg-purple-600 transition duration-200">
                Agendar Consulta
            </button>
        </a>
        <br><br>
        <a href="/consultaAgendamentos">
            <button
                class="w-full py-3 px-4 bg-purple-500 text-white font-bold rounded-lg hover:bg-purple-600 transition duration-200">
                Consultas Agendadas
            </button>
        </a>
    </div>
</div>
